@model List<Elemento>

@{
    ViewData["Title"] = "Elementos Óptimos";
}





<div class="container mt-3">
    <div class="row pt-2 pb-4">
        <div class="col-4">
            <h4 class="text-dark">Artículos para Escalar</h4>
        </div>

        <div class="col-4 text-center" id="mensajeContainer">

        
                @if (TempData["Mensaje"] != null)
                {
                    <div class="alert custom-alert success">
                        <div class="icon">
                            <i class="bi bi-check-circle-fill"></i>
                        </div>
                        <div class="message">@TempData["Mensaje"]</div>

                    </div>
                }

                @if (TempData["Error"] != null)
                {
                    <div class="alert custom-alert error">
                        <div class="icon">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                        </div>
                        <div class="message">@TempData["Error"]</div>

                    </div>
                }
           
        </div>

        <div class="col-4 text-end">
            <a asp-controller="Elemento" asp-action="AgregarElemento" class="btn btn-outline-primary" title="Agregar Elemento"><i class="bi bi-plus-circle"></i> Agregar Elemento</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            
            <table class="table table-striped  table-hover table-responsive p-1 table-sm  " id="elementosTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Peso</th>
                        <th>Calorías</th>
                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var Obj in Model)
                    {
                        <tr>
                            <td>@Obj.Nombre</td>
                            <td>@Obj.Peso</td>
                            <td>@Obj.Calorias</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Acciones
                                    </button>
                                    <div class="dropdown-menu text-success">
                                        <a class="dropdown-item " asp-controller="Elemento" asp-action="Editar" asp-route-id="@Obj.Id_Elemento" title="Editar">
                                            <i class="bi bi-pencil-square"></i> Editar
                                        </a>
                                        <a class="dropdown-item text-danger" href="#" onclick="eliminarElemento(@Obj.Id_Elemento)" title="Eliminar">
                                            <i class="bi bi-trash"></i> Eliminar
                                        </a>

                                   
                                    </div>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="col-12">

        <h4 class="mt-4">Calcular Elementos Optimos</h4>
        <form id="requisitosForm">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="pesoMaximo">Peso Máximo:</label>
                            <input type="number" class="form-control" id="pesoMaximo" name="pesoMaximo" required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="caloriasMinimas">Calorías Mínimas:</label>
                            <input type="number" class="form-control" id="caloriasMinimas" name="caloriasMinimas" required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group text-start pt-2 mt-2">
                            <button type="button" class="btn btn-outline-primary" onclick="validarYCalcular()">Calcular</button>
                        </div>
                    </div>
                </div>
            </div>
           
           

      

        </form>

    </div>
</div>

<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Elementos Óptimos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <div>
                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script>

    function validarYCalcular() {
        // Validar el formulario manualmente
        var formulario = document.getElementById("requisitosForm");
        if (formulario.checkValidity()) {
            // Si el formulario es válido, llamar a la función calcularElementos
            calcularElementos();
        } else {
            // Si el formulario no es válido, mostrar un mensaje de error
            alert("Por favor, ingrese el peso maximo y cantidad de calorias.");
        }
    }


    function calcularElementos() {
        var pesoMaximo = $("#pesoMaximo").val();
        var caloriasMinimas = $("#caloriasMinimas").val();

        var requestData = {
            pesoMaximo: pesoMaximo,
            caloriasMinimas: caloriasMinimas,
            elementos: @Html.Raw(Json.Serialize(Model))
                        };

        // Realizamos la solicitud AJAX al servidor
        $.ajax({
            type: "POST",
            url: "/Elemento/CalcularElementos",
            data: requestData,
            success: function (response) {
                console.log(response);
                mostrarDatosEnModal(response);
                
            },
            error: function (error) {
                console.error(error);
            }
        });

        function mostrarDatosEnModal(response) {
            // Limpiamos el contenido del modal
            $("#modalBody").empty();

            if (Array.isArray(response) && response.length > 0) {
                // Construimos la tabla con los datos recibidos
                var tabla = "<table class='table'>" +
                    "<thead>" +
                    "<tr>" +
                    "<th>Nombre</th>" +
                    "<th>Peso</th>" +
                    "<th>Calorías</th>" +
                    "</tr>" +
                    "</thead>" +
                    "<tbody>";

                var sumaPeso = 0;
                var sumaCalorias = 0;

                response.forEach(function (elemento) {
                    tabla += "<tr>" +
                        "<td>" + elemento.nombre + "</td>" +
                        "<td>" + elemento.peso + "</td>" +
                        "<td>" + elemento.calorias + "</td>" +
                        "</tr>";

                    // Sumar al total
                    sumaPeso += elemento.peso;
                    sumaCalorias += elemento.calorias;
                });

                // Agregar fila de suma al final de la tabla
                tabla += "<tr>" +
                    "<td><strong>Cantidades Totales</strong></td>" +
                    "<td><strong>" + sumaPeso + "</strong></td>" +
                    "<td><strong>" + sumaCalorias + "</strong></td>" +
                    "</tr>";

                // Cerramos la tabla
                tabla += "</tbody></table>";

                // Agregar la tabla al modal
                $("#modalBody").append(tabla);
            } else {
                // Si la respuesta no es válida, mostramos un mensaje de error
                $("#modalBody").text("Error: No se encontraron elementos en ese rango de peso maximo y calorias minimas");
            }

            // Mostramos el modal
            $("#miModal").modal("show");
        }


    }


    function eliminarElemento(id) {
        if (confirm("¿Estás seguro de que deseas eliminar este elemento?")) {
            $.ajax({
                type: "POST",
                url: "/Elemento/EliminarElemento",
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        // Elemento eliminado exitosamente
                        alert(response.message);
                        // Puedes recargar la página o actualizar la tabla de elementos si es necesario
                        location.reload(); // Recarga la página
                    } else {
                        // Ocurrió un error al eliminar el elemento
                        alert(response.message);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }


</script>

<script>
    function ocultarMensaje() {
        var mensajeContainer = document.getElementById("mensajeContainer");
        setTimeout(function () {
            mensajeContainer.style.opacity = "0"; // Cambia la opacidad a 0 para ocultar
            setTimeout(function () {
                mensajeContainer.style.display = "none"; // Oculta completamente después de la animación de opacidad
            }, 500); // 500 milisegundos = 0.5 segundos (ajusta según tus necesidades)
        }, 3000); // 3000 milisegundos = 3 segundos
    }

    // Llama a la función para ocultar el mensaje al cargar la página
    document.addEventListener("DOMContentLoaded", ocultarMensaje);
</script>

